---
layout: ''
title: ''
eleventyExcludeFromCollections: true
permalink: './_assets/css/prs-styles_v{{ site.version }}.css'
---
/*
  {{ site.meta.title }} - styles
*/

/* === components === */
{% set cssComponents -%}
{%- for item in collections.component %}
  /* === {{ item.data.title | upper }} === */
  {%- include '../components/'+ item.data.title | slugify +'.css' ignore missing -%}
{%- endfor %}
{%- endset -%}
{{- cssComponents | cssMin | safe }}

/* === typography === */
