---
layout: ''
title: ''
eleventyExcludeFromCollections: true
permalink: './_assets/css/prs-reset_v{{ site.version }}.css'
---
/*
  {{ site.meta.title }} - reset
  🚧 THIS FILE IS OPTIONAL - only use this if you are **NOT** also using a framework like Tailwind/MUI 🚧
*/

{% set css -%}
*,::after,::before,::backdrop,::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid var(--prs-c-gray-200);
}

html,:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 2;
  font-family: var(--prs-ff-sans);
  font-feature-settings: var(--prs-font-feature-settings, normal);
  font-variation-settings: var(--prs-font-variation-settings, normal);
  -webkit-tap-highlight-color: transparent;
}

/* Inherit line-height from `html` so users can set them as a class directly on the `html` element. */
body {
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

/* Add the correct text decoration in Chrome, Edge, and Safari. */
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/* Remove the default font size and weight for headings. */
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset links to optimize for opt-in styling instead of opt-out. */
a {
  color: var(--prs-c-primary);
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

/* Add the correct font weight in Edge and Safari. */
b,strong {
  font-weight: bolder;
}

code,kbd,samp,pre {
  font-family: var(--prs-ff-mono);
  font-feature-settings: var(--prs-mono-font-feature-settings, normal);
  font-variation-settings: var(--prs-mono-font-variation-settings, normal);
  font-size: 1em;
}

/* Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

/* Use the modern Firefox focus style for all focusable elements. */
:-moz-focusring {
  outline: auto;
}

/* Add the correct vertical alignment in Chrome and Firefox. */
progress {
  vertical-align: baseline;
}

/* Add the correct display in Chrome and Safari. */
summary {
  display: list-item;
}

/* Make lists unstyled by default. */
ol,ul,menu {
  list-style: none;
}

img,svg,video,canvas,audio,iframe,embed,object {
  display: block;
  vertical-align: middle;
}

/* Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. */
img,svg,video {
  max-width: 100%;
  height: auto;
}

button,input,select,optgroup,textarea,::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}

/* Restore default font weight. */
:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}

/* Restore indentation. */
:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}

/* Restore space after button. */
::file-selector-button {
  margin-inline-end: 4px;
}

::placeholder {
  opacity: 1;
  color: var(--pr-c-gray-400);
}

/* Prevent resizing textareas horizontally by default. */
textarea {
  resize: vertical;
}

/* Remove the inner padding in Chrome and Safari on macOS. */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-date-and-time-value {
  min-height: 1lh;
  text-align: inherit;
}

/* Prevent height from changing on date/time inputs in macOS Safari when the input is set to `display: block`. */
::-webkit-datetime-edit {
  display: inline-flex;
}

/* Remove excess padding from pseudo-elements in date/time inputs to ensure consistent height across browsers. */
::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
  padding-block: 0;
}

/* Remove the additional `:invalid` styles in Firefox. */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Correct the inability to style the border radius in iOS Safari. */
button,input:where([type='button'], [type='reset'], [type='submit']),::file-selector-button {
  appearance: button;
}

/* Correct the cursor style of increment and decrement buttons in Safari. */
::-webkit-inner-spin-button,::-webkit-outer-spin-button {
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default. */
[hidden]:where(:not([hidden='until-found'])) {
  display: none !important;
}
{%- endset -%}

{{- css | cssMin | safe }}
