---
layout: ''
title: ''
eleventyExcludeFromCollections: true
permalink: './_assets/css/prs-tokens_v{{ site.version }}.css'
---

{%- from 'macro.tokens.njk' import tokens with context -%}

{% set tokens -%}/*
  {{ site.meta.title }} - tokens
*/

:where(html) {
  {{- tokens({spacing: false}) }}
}
{%- endset -%}

{{ tokens | safe }}
