{%- macro footerLink(title='Title',sub='',url='#') %}
<li class="py-3 leading-tight">
  <a href="{{ url | url }}" class="group transition hover:text-(--color-primary)">
    {%- if sub %}<small class="pb-1 text-xs block opacity-80">{{ sub }}</small>{%- endif %}
    <strong>{{ title }}</strong>
  </a>
</li>
{%- endmacro %}

<footer class="pt-8 w-full bg-base-200 flex-none md:pt-24">
  <div class="mx-auto px-4 max-w-5xl">
    <div class="pb-8 text-center space-y-5 md:pb-12 md:text-start md:flex md:items-start md:justify-between md:gap-5 md:space-y-0">
      <nav class="shrink-0">
        <a href="{{ '/' | url }}" class="btn btn-ghost btn-circle group">
          {%- set width = '6' -%}
          {%- include '_logo.njk' %}
        </a>
        <ul class="py-5 text-lg flex items-center justify-center gap-5 md:justify-start">
          {%- for item in site.social %}
          <li>
            <a href="{{ item.url | url }}" class="btn btn-circle btn-outline border-dashed border-current/25 hover:border-transparent" aria-label="{{ item.title }}">
              <iconify-icon icon="{{ item.ico }}" class="iconify" noobserver></iconify-icon>
            </a>
          </li>
          {%- endfor %}
        </ul>
      </nav>
      <nav class="w-full text-sm flex flex-col gap-10 md:max-w-xl md:flex-row md:justify-end md:gap-32">
        {%- for cat in site.footer %}
        <ul>
          <li>
            <strong class="pb-1.5 uppercase block opacity-70">{{ cat.title }}</strong>
            <ul>
              {# sitemap #}
              {%- if cat.title == 'Sitemap' %}
                {%- for item in collections.all | eleventyNavigation %}
                {{ footerLink(title=item.key,sub=item.title,url=item.url | url) }}
                {%- endfor %}
              {# tech stack #}
              {%- else %}
                {%- for item in cat.nav %}
                {{ footerLink(title=item.title,sub=item.sub,url=item.url | url) }}
                {%- endfor %}
              {%- endif %}
            </ul>
          </li>
        </ul>
        {%- endfor %}
      </nav>
    </div>
    <div class="border-t border-base-content/10 py-3 text-xs text-base-content/50 text-center leading-relaxed space-y-3 [&_p+p]:md:text-end md:py-6 md:text-start md:flex md:flex-wrap md:justify-between md:space-y-0">
      <p>
        &copy;{% year %} {{ site.meta.title }}
        <span class="block">by: <a href="{{ site.meta.author_url }}" class="text-base-content font-medium transition hover:text-(--color-primary)">{{ site.meta.author }}</a></span>
      </p>
      <p>
        Updated on:
        <time datetime="{% build 'raw' %}" class="block">{% build %}</time>
      </p>
    </div>
  </div>
</footer>
