<dialog x-cloak x-ref="searchDialog" id="search-dialog" class="modal items-start">
  <div @keydown.down="$focus.next()" @keydown.up="$focus.previous()" class="modal-box mt-8 p-0 max-w-xl h-fit max-h-[clamp(13rem,80vh,60vh)] relative">
    <div class="h-full overflow-y-auto rounded-box [scrollbar-width:thin]">
      <label aria-label="Search" class="input input-lg lg:input-xl bg-base-100 border-base-300 sticky top-0 z-1 w-full rounded-none rounded-t-(--radius-box) border-0 border-b shadow-none focus-within:shadow-none focus-within:-outline-offset-4 lg:px-6">
        <iconify-icon icon="mdi:magnify" class="iconify size-5 shrink-0 opacity-30" noobserver></iconify-icon>
        <input x-ref="searchInput" x-model="searchTerm" @keydown.window.prevent.meta.k="searchOpen()" type="text" placeholder="Search" class="placeholder:font-semibold" />
        <kbd class="kbd kbd-xs">esc</kbd>
      </label>
      <ol x-show="searchTerm.length >= 2 && filteredResults.length > 0" class="p-2">
        <template x-for="result in filteredResults" hidden>
          <li>
            <a :href="result.url" class="group p-4 flex items-center gap-3 rounded-box transition [&:hover,&:focus]:bg-(--color-neutral) [&:hover,&:focus-visible]:text-(--color-neutral-content) [&:hover,&:focus-visible]:outline-none">
              <span class="size-7 flex items-center justify-center shrink-0 rounded-full ring ring-inset ring-current/20 pointer-events-none transition">
                <iconify-icon :icon="result.ico ? result.ico : 'mdi:check'" class="iconify text-current/60" noobserver></iconify-icon>
              </span>
              <div class="min-w-0 grow grid grid-cols-[1fr_auto] items-center">
                <p class="truncate font-bold" x-text="result.title"></p>
                <small class="badge badge-xs font-mono shrink-0" x-text="result.category"></small>
              </div>
            </a>
          </li>
        </template>
      </ol>
      <div x-show="searchTerm.length < 2 || filteredResults.length < 1">
        <p class="p-4 text-current/60 text-sm text-center italic">No results...</p>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Close</button>
  </form>
</dialog>
