---
title: Blocks
desc: Organisms, templates, and pages. The building blocks of your design system.
ico: 'mdi:molecule'
permalink: /blocks/
override:tags: ''
eleventyNavigation:
  title: UI
  order: 2
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
---

{#-
{%- from 'macro.list.njk' import list, listItem -%}

{%- set compList -%}
  {{ listItem({slot: 'Back', sub: '⇠', url: '/' | url}) }}
{%- endset -%}

{{- list({slot: compList}) -}}
-#}

<p>Coming soon...</p>
