---
layout: 'layouts/default.njk'
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- set navList -%}
  {%- for item in collections.all | eleventyNavigation -%}
    {{ listItem({slot: item.key, sub: item.title, url: item.url | url}) }}
  {%- endfor -%}
{%- endset -%}

{{- list({slot: navList}) -}}
