{%- from 'macro.heading.njk' import heading -%}
{%- set page_title -%}{{ title +' ⇢ '+ site.meta.title if title else site.meta.title }}{%- endset -%}

<!doctype html>
<html lang="en" class="bg-transparent antialiased" x-data="app" x-cloak>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author }} - {{ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{ '/' | url }}favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" />

    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta property="og:image" content="{{ page.url | url }}og.png" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="{{ '/' | url }}_assets/js/tailwind.js"></script>

    {%- set css -%}
      {%- include 'css/daisyui.css' -%}
      {%- include 'css/daisyui-themes.css' -%}
      {%- include 'css/typography.css' -%}
      {%- include 'css/highlight.css' -%}
    {%- endset -%}

    <style data-twind></style>

    <style>
      @import url("{{ '/' | url }}_assets/css/prs-tokens_v{{ site.version }}.css");
      @import url("{{ '/' | url }}_assets/css/prs-styles_v{{ site.version }}.css");
    </style>

    <style type="text/tailwindcss">
      {{ css | cssmin | safe }}

      :root,:root:has(input.theme-controller[value=light]:checked),[data-theme=light] {
        --bg-artboard: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20' fill='rgba(128,128,128,.1)'><g opacity='.5'><rect x='0' y='0' width='10' height='10' /><rect x='10' y='10' width='10' height='10' /></g></svg>");
        --bg-grid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4' width='4' height='4'><rect x='0' y='0' width='2' height='2' fill='rgb(128 128 128 / .05)'></rect></svg>");

        & .prose {
          --prose-type-width: 100%;
          --prose-type-body: var(--color-base-content);
          --prose-type-headings: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 50%);
          --prose-type-lead: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 50%);
          --prose-type-links: var(--color-primary);
          --prose-type-links-hover: color-mix(in oklab, var(--color-primary), var(--color-base-100) 25%);
          --prose-type-bold: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 50%);
          --prose-type-counters: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 60%);
          --prose-type-bullets: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 60%);
          --prose-type-hr: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 90%);
          --prose-type-quotes: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 60%);
          --prose-type-quote-borders: var(--color-base-300);
          --prose-type-captions: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 40%);
          --prose-type-kbd: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 60%);
          --prose-type-kbd-shadows: color-mix(in oklab, var(--color-base-content), transparent 40%);
          --prose-type-code: color-mix(in oklab, var(--color-base-content), var(--color-base-100) 60%);
          --prose-type-pre-code: var(--color-base-100);
          --prose-type-pre-bg: var(--color-base-content);
          --prose-type-th-borders: var(--color-base-300);
          --prose-type-td-borders: var(--color-base-300);
        }
      }

      ::view-transition-old(root) { animation-duration: 0.75s; }
      ::view-transition-new(root) { animation: reveal 0.6s cubic-bezier(0.4, 0, 0.2, 1) both; }

      @keyframes reveal {
        from { clip-path: circle(0% at var(--click-x) var(--click-y)); }
        to { clip-path: circle(150% at var(--click-x) var(--click-y)); }
      }

      @theme {
        /* fonts */
        --font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }

      @utility writing-* {
        writing-mode: --value('horizontal-tb', 'vertical-lr', 'vertical-rl', 'sideways-lr', 'sideways-rl');
      }

      @layer utilities {
        :where(.btn) { @apply font-normal; }
        .mockup-code {
          @apply pb-0 border border-(--color-base-300) bg-(--color-base-200) text-(--color-base-content);
          & pre { @apply pb-5 before:mb-2.5 before:text-xs before:italic; }
        }
      }

      hr { @apply my-8 border-(--color-base-300); }

      .mockup-code > pre { @apply px-6 text-sm; }
      .bg-artboard { background-image: var(--bg-artboard); }
      .bg-grid { background-image: var(--bg-grid); }
      
      [x-cloak] { display: none; }
    </style>

    {% renderblock 'css' %}

  </head>

  <body class="bg-base-100 text-base-content !block" style="display: none;" data-instant-intensity="mousedown" x-cloak :data-theme="theme">

    <div class="min-h-screen flex flex-col relative">
      <div class="grow flex flex-col lg:ml-72 xl:ml-80">
        {%- include '_header.njk' %}
        <div class="grow flex flex-col relative z-20">
          <main class="pb-8 w-full grow md:pb-24">
            <section class="mx-auto px-4 max-w-{{ site.prose.width }}">
              <div class="pt-6 md:pt-12">
                <div class="mb-6 flex items-center gap-4 relative md:mb-12">
                  {%- if status %}
                    <span class="badge badge-error badge-dash badge-xs font-mono absolute top-0 left-0 -translate-y-1/2">{{ status }}</span>
                  {%- endif %}
                  {{ heading({slot: title if title else site.meta.title, desc: desc, divider: true}) }}
                  {%- if ico %}
                    <div class="w-24 h-24 text-6xl text-current/50 shrink-0 flex items-center justify-center">
                      <iconify-icon icon="{{ ico }}" class="block" noobserver></iconify-icon>
                    </div>
                  {%- endif %}
                </div>
                {{ content | safe }}
              </div>
            </section>
          </main>
    
          {%- include '_footer.njk' %}
        </div>
      </div>

    </div>

    {%- include '_search-dialog.njk' -%}

    <script>
      // for github
      window.BASE_PATH = "{{ '/' | url }}";
    </script>
    {%- renderblock 'js' %}
    <script src="{{ '/' | url }}_assets/js/_app.js?v={% bust %}"></script>

  </body>

</html>
