---
layout: layouts/default.njk
---

{%- macro heading(param) -%}
<h2 class="text-gray-500 text-xs font-bold uppercase">{{ param.slot | safe }}</h2>
{%- endmacro -%}

{%- macro tabAttr(param) -%}
@mousedown.prevent
@click="tabActive = {{ param.i }}"
@focus="tabActive = {{ param.i }}"
:id="$id('tab', {{ param.i }})"
:tabindex="{{ param.i }} === tabActive ? 0 : -1"
:aria-selected="{{ param.i }} === tabActive"
:class="{{ param.i }} === tabActive ? 'tab-active border-(--color-base-content)/10 shadow' : 'border-transparent'"
class="tab border rounded-xl"
role="tab"
{%- endmacro -%}

<div
  x-data="story({
    {%- for c in controls %}
      {{ c.name }}: {{ c.default | dump }}{% if not loop.last %},{% endif %}
    {%- endfor %},
    tabActive: 0,
  })"
>

  <div x-id="['tab']">
    <div
      x-ref="tablist"
      @keydown.right.prevent.stop="$focus.wrap().next()"
      @keydown.home.prevent.stop="$focus.first()"
      @keydown.page-up.prevent.stop="$focus.first()"
      @keydown.left.prevent.stop="$focus.wrap().prev()"
      @keydown.end.prevent.stop="$focus.last()"
      @keydown.page-down.prevent.stop="$focus.last()"
      role="tablist"
      class="tabs tabs-box mb-4 ml-auto border border-base-300 w-fit bg-grid shadow-inner rounded-2xl"
    >
      {%- for item in ['Preview', 'Styles'] %}
        <button
          {{ tabAttr({i: loop.index0 }) }}
        >
          {{ item }}
        </button>
      {%- endfor %}
    </div>

    {#- PREVIEW -#}
    <div x-show="tabActive === 0" class="" role="tabpanel" x-transition:enter.opacity.duration.500ms x-transition:leave.opacity.duration.0ms style="display: none;">
      <div
        data-theme="light"
        class="p-6 border-x border-t border-base-300 bg-base-100 bg-artboard flex items-center justify-center rounded-t-xl"
        :class="'min-h-['+ previewHeight +'rem]'"
      >
        <div
          x-html="previewRendered"
        >
        </div>
      </div>
      <div>
        <div class="mockup-code mb-6 bg-grid rounded-t-none rounded-b-xl before:hidden">
          <pre data-prefix="&lt;!-- html --&gt;" class="language-html px-6 max-h-72 text-sm overflow-y-scroll"><code x-ref="codeBlock" x-text="codeRendered"></code></pre>
          <button
            @click="
              navigator.clipboard.writeText(codeRendered).then(() => {
                $el.textContent = 'Copied!';
                setTimeout(() => $el.textContent = 'Copy', 2000);
              })
            "
            class="absolute top-1 right-1 btn btn-neutral btn-dash btn-xs opacity-50"
          >
            Copy
          </button>
        </div>
      </div>
      
    </div>

    {#- CODE -#}
    <div x-show="tabActive === 1" class="" role="tabpanel" x-transition:enter.opacity.duration.500ms x-transition:leave.opacity.duration.0ms style="display: none;">
      <div class="mockup-code bg-grid">
        <pre data-prefix="/* css */" class="language-css px-6 max-h-72 text-sm overflow-y-scroll"><code x-ref="stylesBlock">{{ styles }}</code></pre>
        <button
          @click="
            navigator.clipboard.writeText($refs.stylesBlock.textContent).then(() => {
              $el.textContent = 'Copied!';
              setTimeout(() => $el.textContent = 'Copy', 2000);
            })
          "
          class="absolute top-1 right-1 btn btn-neutral btn-dash btn-xs opacity-50"
        >
          Copy
        </button>
      </div>
    </div>
  </div>

  {#- CONTROLS -#}
  <div x-show="tabActive !== 1">
    <div class="mb-1 flex items-center justify-between">
      {{ heading({ slot: 'Controls' }) }}
      <div class="tooltip" data-tip="Restore">
        <button @click="restoreDefaults" class="btn btn-ghost btn-circle btn-xs text-lg" aria-label="Restore default values"><iconify-icon icon="mdi:restore" class="iconify" noobserver></iconify-icon></button>
      </div>
    </div>
    <div class="border border-base-300 max-h-[25rem] bg-base-100 overflow-hidden overflow-y-scroll rounded-xl after:h-16 after:bg-(--color-base-100) after:text-current/50 after:flex after:items-end after:justify-center after:pointer-events-none after:sticky after:bottom-0 after:[mask-image:linear-gradient(transparent,#000000)] after:content-['⇣_⇣']">
      <div class="pt-2 px-6 divide-y divide-(--color-base-300)">
        {%- for c in controls %}
          <div class="prs-form-control-col py-4">
            <div class="prs-label prs-label-alt">
              <label for="id-{{ c.name | slugify }}" class="prs-label-text">{{ c.label or c.name | capitalize }}</label>
              {%- if c.desc %}  
                <span class="max-w-xs text-base-content/60 text-xs font-normal text-pretty">{{ c.desc }}</span>
              {%- endif %}
            </div>
            <div class="prs-form-control">
              {%- if c.type === 'select' %}
                <select id="id-{{ c.name | slugify }}" x-model="{{ c.name }}" class="select select-sm appearance-none">
                  {%- for opt in c.options %}
                    <option value="{{ opt }}">{{ opt | title }}</option>
                  {%- endfor %}
                </select>
              {%- elseif c.type === 'radio' %}
                {%- for opt in c.options %}
                  <label class="prs-radio-label">
                    <input type="radio" id="id-{{ c.name | slugify }}-{{ loop.index }}" name="name-{{ c.name | slugify }}" value="{{ opt }}" x-model="{{ c.name }}" class="radio radio-sm" />
                    <span class="text-sm">{{ opt | title }}</span>
                  </label>
                {%- endfor %}
              {%- elseif c.type === 'toggle' %}
                <input type="checkbox" id="id-{{ c.name | slugify }}" x-model="{{ c.name }}" class="toggle toggle-sm" />
              {%- elseif c.type === 'range' %}
                <input type="range" min="{{ c.min }}" max="{{ c.max }}" step="{{ c.step }}" value="{{ c.name }}" class="range" />
              {%- elseif c.type === 'text' or c.type == 'number' %}
                <input type="{{ c.type }}" id="id-{{ c.name | slugify }}" x-model="{{ c.name }}" class="input input-sm" placeholder="{{ c.placeholder | default('Value') }}" />
              {%- endif %}
            </div>
          </div>
        {%- endfor %}
      </div>
    </div>
  </div>

</div>

{%- set codeLogic -%}
  {%- for placeholder, replacement in code.logic %}
    html = html.replace(/{ {{- placeholder | safe -}} }/g, {{ replacement | safe }});
  {%- endfor %}
{%- endset -%}
{%- set controlsDefault -%}
  {%- for c in controls %}
    {{ c.name }}: {{ c.default | dump | safe }},
  {%- endfor %}
{%- endset -%}
<script>
  function story(config) {
    return {
      ...config,
      previewHeight: 10,
      defaults: {},

      get previewRendered() {
        let html = `{{ preview | safe }}`;
        return html;
      },

      get codeRendered() {
        let html = `{{ code.html | safe }}`;

        {{ codeLogic | safe }}

        return html.trim();
      },

      restoreDefaults() {
        Object.keys(this.defaults).forEach(key => {
          this[key] = this.defaults[key];
        });
      },

      initDefaults() {
        this.defaults = {
          {{ controlsDefault | safe }}
        };
      },

      init() {
        this.initDefaults();

        this.$nextTick(() => {
          if (this.$refs.codeBlock) {
            this.$refs.codeBlock.removeAttribute('data-highlighted');
            hljs.highlightElement(this.$refs.codeBlock);
          }
          if (this.$refs.stylesBlock) {
            this.$refs.stylesBlock.removeAttribute('data-highlighted');
            hljs.highlightElement(this.$refs.stylesBlock);
          }
        });

        this.$watch('codeRendered', () => {
          this.$nextTick(() => {
            if (this.$refs.codeBlock) {
              this.$refs.codeBlock.removeAttribute('data-highlighted');
              hljs.highlightElement(this.$refs.codeBlock);
            }
          });
        });
      },
    };
  }
</script>
