---
themes:
  - light
  - dark
  - emerald
  - synthwave
  - retro
  - valentine
  - halloween
  - garden
  - forest
  - fantasy
  - black
  - luxury
  - dracula
  - business
  - acid
  - lemonade
  - coffee
  - winter
  - dim
  - nord
  - sunset
  - caramellatte
  - abyss
  - silk
---

{%- from 'macro.heading.njk' import heading -%}
{%- set page_title -%}{{ title +' ⇢ '+ site.meta.title if title else site.meta.title }}{%- endset -%}

<!doctype html>
<html
  lang="en"
  class="bg-transparent antialiased"
  x-data="{
    theme: $persist('prose'),
    setTheme(newTheme, event) {
      const btn = event.currentTarget;
      const rect = btn.getBoundingClientRect();
      const x = (rect.left + rect.width / 2) + 'px';
      const y = (rect.top + rect.height / 2) + 'px';

      document.documentElement.style.setProperty('--click-x', x);
      document.documentElement.style.setProperty('--click-y', y);

      if (!document.startViewTransition) {
        this.theme = newTheme;
        return;
      }

      document.startViewTransition(() => {
        this.theme = newTheme;
      });

    }
  }"
  x-cloak
>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author }} - {{ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{ '/' | url }}favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" />

    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta property="og:image" content="{{ page.url | url }}og.png" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="{{ '/' | url }}_assets/js/tailwind.js"></script>

    {%- set css -%}
      {%- include 'css/prose-tokens.css' -%}
      {%- include 'css/prose-styles.css' -%}
      {%- include 'css/daisyui.css' -%}
      {%- include 'css/daisyui-themes.css' -%}
      {%- include 'css/highlight.css' -%}
    {%- endset -%}
    <style>
      [x-cloak] { display: none; }
      {{ css | cssmin | safe }}
    </style>
    {% renderblock 'css' %}
    <style data-twind></style>

    <style>
      :root,:root:has(input.theme-controller[value=light]:checked),[data-theme=light] {
        color-scheme: light;
        --color-base-content: #1D1B26;
        --color-primary: #0600B4;
        --color-primary-content: #FFFFFF;
        --color-secondary: #FF2986;
        --color-secondary-content: #1D1B26;
        --color-accent: #A30283;
        --color-accent-content: #FFFFFF;
        --color-neutral: #69686F;
        --color-neutral-content: #FFFFFF;
        --color-info: #00BCFF;
        --color-info-content: #1D1B26;
        --color-success: #00F0A8;
        --color-success-content: #1D1B26;
        --color-warning: #E1FF00;
        --color-warning-content: #1D1B26;
        --color-error: #FF2986;
        --color-error-content: #FFFFFF;
        --color-base-100: #FFFFFF;
        --color-base-200: color-mix(in oklab, var(--color-neutral), #FFF 95%);
        --color-base-300: color-mix(in oklab, var(--color-neutral), #FFF 85%);
        --radius-selector: 0.25rem;
        --radius-field: 0.25rem;
        --radius-box: 0.5rem;
        --size-selector: 0.25rem;
        --size-field: 0.25rem;
        --border: 1px;
        --depth: 0;
        --noise: 0;
      }

      ::view-transition-old(root) { animation-duration: 0.75s; }
      ::view-transition-new(root) { animation: reveal 0.6s cubic-bezier(0.4, 0, 0.2, 1) both; }

      @keyframes reveal {
        from { clip-path: circle(0% at var(--click-x) var(--click-y)); }
        to { clip-path: circle(150% at var(--click-x) var(--click-y)); }
      }
    </style>

    <style type="text/tailwindcss">
      @theme {
        /* fonts */
        --font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }

      @layer utilities {
        :where(.btn) { @apply font-normal; }
        .mockup-code {
          @apply pb-0 border border-(--color-base-300) bg-(--color-base-200) text-(--color-base-content);
          & pre { @apply pb-5 before:mb-2.5 before:italic; }
        }
      }

      .bg-artboard { background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20' fill='rgba(128,128,128,.1)'><g opacity='.5'><rect x='0' y='0' width='10' height='10' /><rect x='10' y='10' width='10' height='10' /></g></svg>"); }
      .bg-grid { background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4' width='4' height='4'><rect x='0' y='0' width='2' height='2' fill='rgb(128 128 128 / .05)'></rect></svg>"); }
    </style>

  </head>

  <body class="bg-base-100 text-base-content !block" style="display: none;" data-instant-intensity="mousedown" :data-theme="theme">

    <div class="min-h-screen flex flex-col relative">

      <header class="w-full flex-none">
        <nav class="mx-auto py-8 px-4 max-w-5xl flex flex-col items-center gap-4 md:flex-row md:justify-between">
          <a href="{{ '/' | url }}" class="group flex flex-none items-center gap-2 transform transition hover:opacity-50">
            {%- set width = '8' -%}
            {%- include '_logo.njk' %}
          </a>
          <ul class="flex items-center gap-4 md:gap-10">
            {%- for item in collections.all | eleventyNavigation %}
            <li>
              <a href="{{ item.url | url }}" class="flex text-current font-semibold relative transition hover:text-(--color-primary) [&[aria-current=page]]:text-(--color-primary)"{% if item.url == page.url or item.url in page.url %} aria-current="page"{% endif %}>
                {{ item.key }}
                {% if item.url == page.url or item.url in page.url %}<b class="w-full h-[2px] bg-current absolute inset-x-0 -bottom-1 opacity-25"></b>{% endif %}
              </a>
            </li>
            {%- endfor %}
            <li>
              <div class="dropdown dropdown-end focus-within:[&_.btn]:bg-(--color-base-300)">
                <div tabindex="0" class="btn btn-ghost btn-sm gap-1 pl-1.5 pr-1">
                  <span :data-theme="theme" class="border border-(--color-base-content)/10 p-0.5 w-5 h-5 bg-base-100 shrink-0 grid grid-cols-2 gap-0.5 rounded-md shadow-sm">
                    <span class="bg-base-content rounded-xs"></span>
                    <span class="bg-primary rounded-xs"></span>
                    <span class="bg-secondary rounded-xs"></span>
                    <span class="bg-accent rounded-xs"></span>
                  </span>
                  <iconify-icon icon="mdi:chevron-down" class="text-base iconify" noobserver></iconify-icon>
                </div>
                <div tabindex="-1" class="dropdown-content my-2 border border-white/5 h-[30.5rem] max-h-[calc(100vh-8.6rem)] outline outline-black/5 bg-base-100 overflow-y-auto rounded-box shadow-2xl">
                  <ul class="menu w-52">
                    <li class="menu-title text-xs">Theme</li>
                    {%- for item in themes %}
                      <li>
                        <a href="#{{ item }}" @click.prevent="setTheme('{{ item }}', $event); document.activeElement.blur();" :class="theme === '{{ item }}' && 'menu-active'">
                          <span data-theme="{{ item }}" class="border border-(--color-base-content)/10 p-0.5 w-5 h-5 bg-base-100 shrink-0 grid grid-cols-2 gap-0.5 rounded-md shadow-sm">
                            <span class="bg-base-content rounded-xs"></span>
                            <span class="bg-primary rounded-xs"></span>
                            <span class="bg-secondary rounded-xs"></span>
                            <span class="bg-accent rounded-xs"></span>
                          </span>
                          {{ item | title }}
                          <iconify-icon x-show="theme === '{{ item }}'" icon="mdi:check" class="iconify text-base" noobserver style="display: none;"></iconify-icon>
                        </a>
                      </li>
                    {%- endfor %}
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <main class="pb-8 w-full flex-1 md:pb-24">
        <section class="mx-auto px-4 max-w-5xl">
          <div class="pt-12">
            <div class="flex gap-4 md:gap-6">
              {{ heading({slot: title if title else site.meta.title, desc: desc, divider: true}) }}
              {%- if ico %}
                <div class="mt-3 w-12 h-12 text-3xl text-current/50 shrink-0 flex items-center justify-center md:w-24 md:h-24 md:text-6xl">
                  <iconify-icon icon="{{ ico }}" class="block" noobserver></iconify-icon>
                </div>
              {%- endif %}
            </div>
            {{ content | safe }}
          </div>
        </section>
      </main>

      {%- include '_footer.njk' %}

    </div>

    {%- renderblock 'js' %}
    <script src="{{ '/' | url }}_assets/js/_app.js?v={% bust %}"></script>

  </body>

</html>
