---
layout: layouts/default.njk
desc: A collection of reusable UI components from your design system.
ico: 'mdi:atom'
permalink: /components/
title: Components
override:tags: ''
eleventyNavigation:
  title: UI
  order: 1
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- set compList -%}
  {%- for item in collections.component -%}
    {{ listItem({slot: item.data.title, sub: 'UI', ico: item.data.ico, url: item.url | url}) }}
  {%- endfor -%}
{%- endset -%}

{{- list({slot: compList}) -}}
