---
desc: Storybook without the language restrictions and dependencies.
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- set navList -%}
  {%- for item in collections.all | eleventyNavigation -%}
    {{ listItem({slot: item.key, sub: item.title, ico: item.data.ico, url: item.url | url}) }}
  {%- endfor -%}
{%- endset -%}

{{- list({slot: navList}) -}}
