---
desc: Storybook without the language restrictions and dependencies.
ico: mdi:book-settings
eleventyExcludeFromCollections: true
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- set navList -%}
  {%- for item in collections.navMain | eleventyNavigation %}
    {{ listItem({slot: item.data.title, sub: item.data.category, ico: item.data.ico, url: item.url | url}) }}
  {%- endfor -%}
{%- endset -%}

{{- list({slot: navList}) -}}


<article class="prose pt-12">
{% renderTemplate 'njk,md' %}

## Get Started

To include the entire Prose UI system, follow these steps. You can also include individual components as needed by using the resources tab on each component page.

{% endrenderTemplate %}
</article>
