---
desc: Storybook without the language restrictions and dependencies.
ico: 'mdi:book-settings'
eleventyExcludeFromCollections: true
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- set navList -%}
  {%- for item in collections.navMain | eleventyNavigation %}
    {{ listItem({slot: item.data.title, sub: item.data.category, ico: item.data.ico, url: item.url | url}) }}
  {%- endfor -%}
{%- endset -%}

{{- list({slot: navList}) -}}
