:root {
  --base: color-mix(in oklab, #282c34, #000 15%);
  --mono-1: color-mix(in oklab, #abb2bf, #000 15%);
  --mono-2: color-mix(in oklab, #818896, #000 15%);
  --mono-3: color-mix(in oklab, #5c6370, #000 15%);
  --hue-1: color-mix(in oklab, #56b6c2, #000 15%);
  --hue-2: color-mix(in oklab, #61aeee, #000 15%);
  --hue-3: color-mix(in oklab, #c678dd, #000 15%);
  --hue-4: color-mix(in oklab, #98c379, #000 15%);
  --hue-5: color-mix(in oklab, #e06c75, #000 15%);
  --hue-5-2: color-mix(in oklab, #be5046, #000 15%);
  --hue-6: color-mix(in oklab, #d19a66, #000 15%);
  --hue-6-2: color-mix(in oklab, #e6c07b, #000 15%);
}

pre code.hljs {
  display: block;
}

.hljs {
  color: var(--mono-1);
}
.hljs-comment,
.hljs-quote {
  color: var(--mono-3);
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--hue-3);
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--hue-5);
}
.hljs-literal {
  color: var(--hue-1);
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: var(--hue-4);
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: var(--hue-6);
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--hue-2);
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--hue-6-2);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
