---
title: Foundation
desc: The core concepts and utilities that power your design system.
ico: 'mdi:layers-outline'
permalink: /foundation/
override:tags: ''
eleventyNavigation:
  title: UX
  order: 3
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
---

{%- from 'macro.list.njk' import list, listItem -%}

{#-
{%- set compList -%}
  {{ listItem({slot: 'Back', sub: '⇠', url: '/' | url}) }}
{%- endset -%}

{{- list({slot: compList}) -}}
-#}

<p>Coming soon...</p>
