---
title: Foundation
desc: The core concepts and utilities that power your design system.
ico: 'mdi:layers-outline'
color: secondary
category: UX
permalink: /foundation/
override:tags: navMain
eleventyComputed:
  eleventyNavigation:
    title: "{{ category if category else '' }}"
    key: "{{ title }}"
    order: 1
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- set navList -%}
  {%- for item in collections.foundation -%}
    {{ listItem({slot: item.data.title, sub: 'UX', ico: item.data.ico, url: item.url | url}) }}
  {%- endfor -%}
{%- endset -%}

{{- list({slot: navList}) -}}
