---
title: Resources
desc: Icons logos and other web-based file assets.
ico: mdi:svg
color: neutral
category: UI
permalink: /resources/
override:tags: navMain
eleventyComputed:
  eleventyNavigation:
    title: "{{ category if category else '' }}"
    key: "{{ title }}"
    order: 3
---

{%- from 'macro.list.njk' import list, listItem -%}

{%- set navList -%}
  {%- for item in collections.resource -%}
    {{ listItem({slot: item.data.title, sub: 'UI', ico: item.data.ico, url: item.url | url}) }}
  {%- endfor -%}
{%- endset -%}

{{- list({slot: navList}) -}}
